@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

*{
    font-family:dancing Nunito;
margin: 0px;
padding: 0px;
color: white;
}


.grid-container{
display: grid;
background-color: rgb(5, 5, 62);
row-gap: 40px;
column-gap: 10px;
grid-template-columns:1fr 1fr 1fr 1fr  ;
grid-template-rows:100px 0px 500px 400px 300px;
grid-template-areas: 
'navbar navbar navbar navbar'
'main main sidebar sidebar'
'main main sidebar sidebar'
'main main sidebar sidebar'
'footer footer footer footer'
' bottomsec bottomsec bottomsec bottomsec'

;
}
.grid-item-1{
    grid-area: navbar;
    background-color:#9a0c0c ;
    
}
.grid-item-2{
    grid-area: main;
    border: 3px solid red;
    

}
.grid-item-3{
    grid-area: sidebar;
border: 3px solid red;
}
.grid-item-4{
    grid-area: bottomsec;
border: 3px solid red;
}


.grid-item-6{
    grid-area: footer;
border: 3px solid red;
}

ul li{
    list-style: none;
    display: inline-block;
    float:left;
    line-height: 100px;
    
    }
    
    ul li a{
    display: block;
    text-decoration: none;
    font-size: 1.55rem;
    font-family: nunito;
    padding: 0px 40px ;
    }
    
    ul li a:hover{
      color: red;
    }
    
    
    .photo{
 width: 650px;
 height: 900px;
 margin:0px;
 padding: 0px;

    }
    
    .crest{
      width: 100px;
      height: 100px;
      float: left
      
      
      }
    .slogan{
    width: 200px;
        font-size: 25px;
    font-family: dancing script;
    margin-left: 50px;
    
    }
  .partners{


   }  

#para1{
    width: 260px;
   display: inline-block;
  position: absolute;
    font-size: 0.85rem;
    font-family: nunito;
  


}
#heading1{
text-align: center;

}
#heading2{
text-align: center;

}
/* MEDIA QUERY FOR PHONE VIEWPORT */
@media screen and (max-width:600px) {
    .grid-container{
        display: grid;
        background-color: rgb(5, 5, 62);
        row-gap: 40px;
        column-gap: 10px;
        grid-template-columns:1fr 1fr 1fr 1fr  ;
        grid-template-rows:400px 0px 500px 1200px 200px 0px 800px;
        grid-template-areas: 
        'navbar navbar navbar navbar'
         'navbar navbar navbar navbar'
         'navbar navbar navbar navbar'
         'main main main main'
          'main main main main'
          'main main main main'
          'sidebar sidebar sidebar sidebar'
          'sidebar sidebar sidebar sidebar'
         'footer footer footer footer'
        



        }
.grid-item-1{
    grid-area: navbar;
    background-color:#9a0c0c ;

}
    
    
    .grid-item-2{
        grid-area: main;
        position: relative;
        
    }
    
    
   nav ul{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    


    }
    ul li a{
        font-size: 1.25rem;
       padding: 0px 10px;
    }
nav ul li{

}
.fcb{
    position: relative;
}
   .crest{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0%;
    left: 41%;
   
   }
   #home{
margin-top: 50px;

   }
   .slogan-parent{
    position: relative;
   }
   .slogan{
    position: absolute;
    top: 100%;
    left: 16%;
   }
   .photo{
    width: 420px;
    height: 600px;
    margin:0px;
    padding: 0px;
    margin-top: 10px;
}
#para1{
    width: 560px;
    font-size: 0.85rem;
    font-family: nunito;
    position: absolute;
    top: 45%;
    left: 2%;
    
    
}
}
/* MEDIA QUERY FOR LAPTOP VIEWPORT */

@media screen and (max-width:1580px) and (min-width:700px) {

    .grid-container{
        display: grid;
        background-color: rgb(5, 5, 62);
        row-gap: 40px;
        column-gap: 10px;
        grid-template-columns:1fr 1fr 1fr 1fr  ;
        grid-template-rows:100px 0px 50px 1300px 200px 0px 200px;
        grid-template-areas: 
        'navbar navbar navbar navbar'
         ''
         ''
         'main main main main'
          'main main main main'
          'main main main main'
          'sidebar sidebar sidebar sidebar'
          'sidebar sidebar sidebar sidebar'
         'footer footer footer footer'
        



        }
.grid-item-1{
    grid-area: navbar;
    background-color:#9a0c0c ;

}
    
    
    .grid-item-2{
        grid-area: main;
        position: relative;
        
    }
    
    
    ul li a{
        font-size: 1.25rem;
       padding: 0px 20px;
    }


.photo{
    width: 690px;
    height: 900px;
    position: absolute;
    top: 3%;
    left: 4%;
}
    #para1{
        width: 560px;
        font-size: 0.85rem;
        font-family: nunito;
        position: absolute;
        top: 60%;
        left: 12%;
        margin-top: 100px;
        
    }








}